.room-container
{
    /* background-color: green; */
    height: 100vh;
    width: 100%;
    max-height: 100vh;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
}

.room-content
{
  background-color:white;
  width: 97%;
  margin: 1%;
  padding:2% 3% ;  
  border-radius:5px ;
}

.head-content
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:white;
}

.add-room
{
    color: white;
    background-color:  #1479FF;
    cursor: pointer;
    border: 0px solid black;
    padding: 10px 20px;
    border-radius:5px ;
}

select
{
    padding:5px 5px;
    border: 0px solid rgba(109, 109, 109, 0.753);
    background-color: rgb(224, 221, 221);
    border-radius: 2px;
    
}

.single-room
{
    width: 23%;
    /* background-color: green; */
    display: flex;
    margin-right: 2%;
    flex-direction:column;
    padding: 15px;
    border-radius: 2.5px;
    align-items: center;
    background-color: white;
    box-shadow: 0px 0px 5px rgb(173, 173, 173);
    margin-bottom: 15px;
}
.single-room img
{
 width: 200px;
 border-radius: 2.5px;
}

.single-room button
{
    padding: 5px 25px;
    border: 0px solid black;
    color: white;
    border-radius: 2.5px;
    margin-top: 10px;
    cursor: pointer;
}

.all-rooms
{
    /* background-color: green; */
    background-color: rgb(236, 236, 236);
    padding: 2%;
    border-radius: 2.5px;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: flex-start;
    overflow-y: scroll;
    max-height: 74vh;
    overflow-y: scroll;

}

.overlay
{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.616);
    width: 84%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items:center;
}

.overlay-content
{
 background-color: rgb(255, 255, 255);
 width: 30%;
 padding: 25px;
 border-radius: 5px;
 box-shadow:0px 0px 10px gray ;

}




select,input
{
    padding:5px 5px;
    border: 0px solid rgba(109, 109, 109, 0.753);
    background-color: rgb(224, 221, 221);
    border-radius: 2px;
    margin:5px 0px ;
    
}

.button-container
{
    width:100%;
    display: flex;
    justify-content: center;
}
button
{
    padding: 5px 25px;
    border: 0px solid black;
    color: white;
    border-radius: 2.5px;
    margin-top: 10px;
    cursor: pointer;
}

.add
{
    background-color:#1479FF;
    margin-right: 15px;
}

.cancel
{
    color: #1479FF;
    border:1px solid #1479FF;
   
}