.booking-container
{
    /* background-color: green; */
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content
{
    width: 98%;
    /* background-color: white; */
}


select,input
{
    padding:5px 5px;
    border: 0px solid rgba(109, 109, 109, 0.753);
    background-color: rgb(224, 221, 221);
    border-radius: 2px;
    margin:5px 0px ;
    margin-left: 10px;
    /* width: 100%; */
    
}

.top-content
{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

button
{
    padding: 5px 25px;
    border: 0px solid black;
    color: white;
    border-radius: 2.5px;
    margin-top: 10px;
    cursor: pointer;
}

.search
{
    background-color:#1479FF;
    margin-right: 15px;
}

.booking-list
{
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    margin-top: 10px;
    height: 75vh;
    max-height: 75vh;
    overflow-y: scroll;

    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: flex-start;
}

.single-room
{
    width: 23%;
    /* background-color: green; */
    display: flex;
    flex-direction:column;
    padding: 15px;
    border-radius: 2.5px;
    align-items: center;
    background-color: white;
    box-shadow: 0px 0px 5px rgb(173, 173, 173);
    margin-bottom: 15px;
    margin-right:2% ;
}
.single-room img
{
 width: 200px;
 border-radius: 2.5px;
}



.overlay
{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.616);
    width: 84%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items:center;
}

.overlay-content
{
 background-color: rgb(255, 255, 255);
 width: 30%;
 padding: 25px;
 border-radius: 5px;
 box-shadow:0px 0px 10px gray ;

}

.button-container
{
    width:100%;
    display: flex;
    justify-content: center;
}

button
{
    padding: 5px 25px;
    border: 0px solid black;
    color: white;
    border-radius: 2.5px;
    margin-top: 10px;
    cursor: pointer;
}

.add
{
    background-color:#1479FF;
    margin-right: 15px;
}

.cancel
{
    color: #1479FF;
    border:1px solid #1479FF;
   
}

.stats
{
    display: flex;
    background-color:white;
    align-items: baseline;
    padding:0px 15px 15px 15px;   
}

.stats span{
    margin-right: 10px;
    font-size: 90%; 
}

.stats div
{
    margin-right: 10px;
    color: white;
    background-color: black;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 70%;
}